$primary: #f77575;
$main: #f8ecec;
$icecream: #2f2f2f;
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: $main;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #img-logo {
        width: 100%;
        text-align: center;
        height: 70px;
    }

    #img-logo>img {
        height: 100%;
    }

    nav {
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
    }

    nav button {
        border: none;
        padding: 5px;
        background-color: transparent;
        border-radius: 15px;
        font-size: 18px;
        color: #f77575;
        cursor: pointer;
    }

    nav button:hover {
        color: #6b4942;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.home {
    height: calc(100vh - 112px);
    display: flex;
    justify-content: space-around;

    .header-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px;
        margin-top: 20px;
    }

    h1 {
        font: italic bolder 4em "Actor", sans-serif;
        color: #6b4942;
        text-shadow: 3px 2px 5px #000000bb;
    }

    h3 {
        font: italic bold 20px 'Arial';
        font-weight: 500;
        line-height: 20px;
    }

    .buy-btn {
        border: none;
        background-color: #f77575;
        color: $main;
        padding: 10px;
        width: 95px;
        border-radius: 5px;
        cursor: pointer;
    }

    .main-img {
        max-width: 50%;
    }
}

.titulo {
    color: #686462;
    font-size: 35px;
    font-family: "Actor";
    text-align: center;
}

.ice-creams,
.cakes {
    display: flex;
    gap: 10px;
    font-family: "Arial";
    justify-content: center;
    padding: 10px 10px 20px 10px;

    .card {
        background-color: #ffffff;
        border: 1px solid #dfcdf1;
        border-radius: 10px;
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .price {
        color: #6b4942;
        font-weight: 600;
    }

    .card-img {
        width: 100%;
        max-height: 200px;
    }

    .cake-img {
        border-radius: 10px;
        width: 200px;
        height: 200px;
    }
}

.about {
    padding: 25px;
    text-align: center;
    font-family: "Actor";
    .schedule, .contact-infor{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }
    hr{
        width: 150px;
    }
    h1 {
        font-size: 30px;
        color: $primary;
    }

    h3{
        color: $icecream;
        padding:10px;
    }

    p{
        color:#686462;
    }
}